<h1><%= @guest.name %></h1>

<h3><%= @guest.occupation %></h3>


<h3>Appearances: </h3>
<% @guest.appearances.each do |app| %>

<ul>
  <h4>Episode Number: <%=app.episode.number%></h4>
  <li>Date:<%= app.episode.date %></li>
  <li>Rating:<%= app.rating %></li>
</ul>

<% end %>

<%= link_to 'Edit Appearance', edit_appearance_path%>
<%= link_to 'Create Appearance', new_appearance_path%>
